<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RongYun.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83F5EF4D1F1DECF0005C3606</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83F5EF661F1DECF1005C3606</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83F5EF711F1DECF1005C3606</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
